# Copy this file to .env when you need local secrets.

# Required only if you want to use Decap CMS / GitHub OAuth locally.
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

# Optional
OAUTH_GITHUB_REPO_ID=
DEEPLX_API_KEY=
WEBMENTION_API_KEY=
WEBMENTION_URL=
WEBMENTION_PINGBACK=
