---
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/site.config";

interface SocialLink {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	rel?: string;
	type?: "social" | "friend";
}

const socialLinks: SocialLink[] = [
	{
		friendlyName: "gmail",
		link: "mailto:faust@linux.do",
		name: "gmail",
		type: "social",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/facl",
		name: "mdi:github",
		type: "social",
	},
	...(siteConfig.fediverse.enabled
		? [
				{
					friendlyName: "Mastodon",
					link: siteConfig.fediverse.profileUrl,
					name: "mdi:mastodon",
					rel: "me",
					type: "social" as const,
				},
			]
		: []),
	{
		friendlyName: "v2ex",
		link: "https://www.v2ex.com/",
		name: "v2ex",
		type: "social",
	},

	{
		friendlyName: "Nodeseek",
		link: "https://www.nodeseek.com",
		name: "nodeseek",
		type: "social",
	},
	{
		friendlyName: "linux.do",
		link: "https://linux.do/",
		name: "linux.do",
		type: "social",
	},
	{
		friendlyName: "Telegram",
		link: "https://t.me/micehole_bot",
		name: "mdi:telegram",
		type: "social",
	},
];
---

<div class="flex flex-wrap items-center gap-x-2">
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name, rel }) => (
				<li class="flex h-8 w-8 items-center justify-center">
					<a
						class="inline-block h-full w-full transition-colors sm:hover:text-accent"
						href={link}
						rel={[rel, "noreferrer", isWebmention ? "me authn" : ""].filter(Boolean).join(" ")}
						target="_blank"
					>
						<Icon
							aria-hidden="true"
							class="h-full w-full"
							focusable="false"
							name={name}
							mode="inline"
						/>
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
